/* --------------------------- OVERALL --------------------------- */
body {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    overflow-x: hidden;
}
#wrapper-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------ DISPLAY SWAPS ------------------------ */
.copyright{
    display: none;
}
.rights-mini {
    display: none;
}
/* MID-SIZE - Below 1,200px */
@media (max-width: 78em) {
    .copyright-desktop{
        display: none;
    }
    .copyright{
        display: block;
    }
}
/* MINI - Below 360px */
@media (max-width: 20em) {
    .rights-desktop {
        display: none;
    }
    .copyright{
        display: none;
    }
    .rights-mini {
        display: block;
    }
}




/* -------------------------- SECTIONS --------------------------- */
#main {
  padding-top: 4.2rem; /* offset fixed header */
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 14rem 0 10rem;
  gap: 16rem;
}
#main h2 {
  font-size: 3.8rem;
  font-weight: 600;
  text-align: justify;
  text-transform: uppercase;
}

/* ── GRID ── */
#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem 10rem;
  width: 60%;
}
.grid-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
h4 {
  font-family: var(--font-display);
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
  white-space: nowrap;
}
.grid-item p, .grid-item ul {
  font-size: 1.6rem;
  text-align: justify;
}
.grid-item li {
  margin-bottom: 1.5rem;
}
.grid-item ul strong {
  font-weight: 500;
}

/* ── SOURCE ── */
#source {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}
#source1 {
  display: flex;
  gap: 3rem;
  width: 60%;
}
#source2 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
#source3 {
  display: flex;
  gap: 3rem;
}
#source p {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  text-align: justify;
}

/* MID-SIZE - Below 1,200px */
@media (max-width: 78em) {
    #main h2 {
        font-size: 3.2rem;
    }
    #grid {
        width: 85%;
        gap: 6rem 6rem;
    }
    #source1 {
        width: 85%;
    }
}
/* TABLET   - Below   768px */
@media (max-width: 48em) {
    #main {
        margin: 9rem 0 6rem;
        gap: 10rem;
    }
    #main h2 {
        font-size: 2.8rem;
    }
    #grid {
        width: 100%;
        gap: 6rem 4rem;
    }
    #source1 {
        width: 100%;
    }
}
/* MOBILE   - Below   500px */
@media (max-width: 31em) {
    #main {
        margin: 9rem 0 6rem;
        gap: 10rem;
    }
    #main h2 {
        font-size: 2.4rem;
    }
    #grid {
        grid-template-columns: 1fr;
        gap: 6rem 0;
    }
    #source1 {
        flex-direction: column;
    }
}
/* MINI     - Below   320px */
@media (max-width: 20em) {
    #main h2 {
        font-size: 2.2rem;
    }
}



/* --------------- BOTTOM DIV (MENU, SOCIALS, INFO) -------------- */
.bottom {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
    margin-bottom: 4rem;
}
.nav-projects {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-projects a {
    font-size: var(--fs-md);
    font-weight: 500;
    color: var(--color-dark);
    text-decoration: none;
}
.nav-socials{
    position: absolute;
    display: flex;
    gap: 3rem;
    left: 50%;
    transform: translateX(-50%);
}
.bottom-bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.bottom-bottom a, .bottom-bottom p {
    font-size: var(--fs-sm);
    font-weight: 400;
    color: var(--color-dark);
    text-decoration: none;
}
.bottom-bottom a{
    cursor: pointer;
}
/* MID-SIZE - Below 1,200px */
@media (max-width: 78em) {
    .bottom-bottom{
        align-items: start;
    }
    .nav-projects {
        display: grid;
        grid-template-columns: auto auto auto;
        align-content: center;
        row-gap: 2rem;
    }
    .nav-socials{
        position: static;
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 1rem;
        column-gap: 6rem;
        left: 0;
        transform: translateX(0);
    }
    .about-rights {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        height: 100%;
    }
}
/* TABLET - Below 768px */
@media (max-width: 48em) {
    .bottom{
        margin-bottom: 2rem;
    }
    .nav-projects {
        margin-right: auto;
        width: auto;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 4rem;
    }
    .bottom-bottom {
        margin-right: auto;
        width: auto;
        align-items: start;
        gap: 7.5rem;
    }
    .nav-socials{
        grid-template-columns: auto auto;
        row-gap: 2rem;
        column-gap: 2rem;
    }
    .rights-mobile {
        text-align: start;
    }
    .about-rights {
        align-items: start;
    }
}
/* MOBILE - Below 480px */
@media (max-width: 31em) {
    .bottom{
        gap: 3rem;
    }
    .nav-projects {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 2.5rem;
    }
    .bottom-bottom {
        margin-right: none;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }
    .bottom-bottom a, .bottom-bottom p {
        font-size: 1.2rem;
    }
    .nav-socials{
        row-gap: 1.5rem;
        column-gap: 1.5rem;
    }
    .rights-mobile{
        text-align: end;
    }
    .about-rights{
        align-items: end;
    }
}
/* MINI - Below 360px */
@media (max-width: 20em) {
    .nav-projects a {
        font-weight: 500;
        color: var(--color-dark);
        text-decoration: none;
    }
    .nav-socials{
        width: 100%;
        row-gap: 1rem;
        column-gap: 0.0rem;
    }
    .bottom-bottom {
        flex-direction: column;
        width: 100%;
    }
    .about-rights {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100%;
        gap: 20px;
    }
}