/* ------------------------------------------------------------- */
/* --------------------------- GLOBAL -------------------------- */
/* ------------------------------------------------------------- */
html {
    font-size: 62.5%;  /* now 1rem = 10px (if user default is 16px) */
    scroll-behavior: smooth;
}
body {
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-primary);
    font-size: var(--fs-md);
    font-weight: 300;
    background-color: var(--color-light);
    color: var(--color-text)
}
:root {
    /* Colors */
    --color-dark: #292828;
    --color-light: #F0EBE6;
    --color-accent: #CE7800;
    --color-tonedown: #A6A29F;
    /* Font families */
    --font-primary: "Zalando Sans", sans-serif;
    --font-display: "Playfair Display", serif;
    /* Font sizes */
    --fs-sm: 1.4rem; /*14px equivalent*/
    --fs-md: 1.8rem; /*18px equivalent*/
    --fs-lg: 3.2rem; /*32px equivalent*/
}
/* TEXT */
h1, h2, h3, h4, p, a {
    margin: 0;
}
/* OTHER */
#uc{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#uc h2{
    font-family: var(--font-display);
    font-size: var(--fs-lg);
    font-style: italic;
    text-align: center;
    font-weight: 300;
}




/* ------------------------------------------------------------- */
/* ---------------------------- MISC --------------------------- */
/* ------------------------------------------------------------- */
* {
  cursor: default;
}
#cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: none;
  border: 1px solid #ffffff;
  pointer-events: none;
  z-index: 9999;
  will-change: transform;
  mix-blend-mode: difference;
}
.hr-main, .hr-alt, .hr-main-dashed{
    width: 100%;
    border: none;              
    opacity: 1; 
    margin: 0;
}
.hr-main{             
    border-top: 1px solid var(--color-dark);                   
}
.hr-main-dashed{             
    border-top: 1px dashed var(--color-dark);                   
}
.hr-alt{             
    border-top: 1px solid var(--color-tonedown);                   
}
/* Link Effect */
.linkEffect {
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}
.linkEffect::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -3px;
    right: 100%;
    background-color: var(--color-dark);
    transition: width 0.40s ease, right 0.40s ease;
}
.linkEffect:hover::after {
    width: 100%;
    right: 0;
}
.simpleEffect{
    opacity: 1;
}
.simpleEffect:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
/* Buttons */
.btn {
    color: var(--color-dark);
    font-weight: 300;
    font-size: var(--fs-sm);
    text-decoration: none;
    /**/
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.btn-arrow-1 {
    width: 1.5em;
    margin-left: 0.65em;
    margin-top: 0.05em;
}
.btn-arrow-2 {
    width: 0.75em;
}
.btn-gray{
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
.btn-gray:hover{
    opacity: 1;
}
/* --- TABLET: ~768px and below --- */
@media (max-width: 48em) {
    #cursor{
        display: none;
    }
}
/* Body Template */
.wrapper-global{
    width: 100dvw;
    height: 100dvh; /* Remove if content in #main is longer than vh */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}




/* ------------------------------------------------------------- */
/* ---------------------- HEADER & FOOTER ---------------------- */
/* ------------------------------------------------------------- */
/* HEADER */
#header-main{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
}
.header-main-nav{
    width: 90dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}
.header-main-nav a{
    text-decoration: none;
    font-size: var(--fs-md);
    font-weight: 600;
    color: var(--color-dark);
}
.header-main-nav p{
    font-family: var(--font-display);
    font-size: 2rem;
    font-style: italic;
    white-space: nowrap;
}
/* FOOTER */
#footer-line{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3.2rem;
}
.footer-line-sub{
    width: 90dvw;
}
/* MID-SIZE - Below 1,200px */
@media (max-width: 78em) {
    
}
/* TABLET   - Below   768px */
@media (max-width: 48em) {
    .header-main-nav a{
        font-size: var(--fs-sm);
    }
    .header-main-nav p{
        font-size: 1.6rem;
    }
    #header-main{
        padding-top: 2rem;
    }
    #footer-line{
        padding-bottom: 2.75rem;
    }
}
/* MOBILE   - Below   500px */
@media (max-width: 31em) {
    #header-main hr{
        display: none;
    }
    #footer-line{
        display: none;
    }
}
/* MINI     - Below   320px */
@media (max-width: 20em) {
    .header-main-nav{
        gap: 1rem;
    }
    .header-main-nav p{
        font-size: var(--fs-sm);
    }
}




/* ------------------------------------------------------------- */
/* ---------------------- PRELOADER ---------------------------- */
/* ------------------------------------------------------------- */
.preloader {
    box-sizing: border-box;
    width: 100%;
    height: 100dvh;
    position: fixed;
    inset: 0;
    background: var(--color-dark);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    clip-path: inset(0 0 0 0); /* controls the wipe exit */
    transition: clip-path 0.8s cubic-bezier(0.76, 0, 0.24, 1);
    padding: 3em 0;
}
.preloader-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}
.preloader-logo, .preloader-copy {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.preloader-logo{
    width: 28px;
}
.preloader-copy{
    font-size: var(--fs-sm);
    font-weight: 400;
    color: var(--color-light);
}
.preloader-headline{
    display: flex;
    gap: 1em;
    color: var(--color-light);
}
.word-wrap {
  overflow: hidden;
  display: inline-block;
}
.word {
  display: inline-block;
  font-family: var(--font-display);
  font-style: italic;
  font-size: 8rem;
  translate: 0 100%;
  transition: translate 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}
.preloader.exit {
  clip-path: inset(0% 0 100% 0);
  transition: clip-path 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
/* MID-SIZE - Below 1,200px */
@media (max-width: 78em) {
    .word{
        font-size: 8rem;
    }
}
/* TABLET   - Below   768px */
@media (max-width: 48em) {
    .preloader {
        padding: 1.5em 0 4em 0;
    }
    .word {
        font-size: 5rem;
        margin: 0;
    }
    .preloader-headline{
        gap: 0.5em;
    }
}
/* MOBILE   - Below   480px */
@media (max-width: 31em) {
    .preloader {
        padding: 2em 0 6rem 0;
    }
    .preloader-headline{
        gap: 0.5em;
    }
    .preloader-logo{
        width: 25px;
        height: 19px;
    }
    .word {
        font-size: 3.2rem;
    }
}
/* MINI     - Below   360px */
@media (max-width: 20em) {
    .word{
        font-size: 2.5rem;
    }
    .preloader-copy{
        font-size: 1rem;
    }
}




/* ------------------------------------------------------------- */
/* ------------------------ VIEWPORTS BG ----------------------- */
/* ------------------------------------------------------------- */
/*
@media (max-width: 78em) {
    #body {background-color: red;}
}
@media (max-width: 48em) {
    #body {background-color: green;}
}
@media (max-width: 31em) {
    #body {background-color: blue;}
}
@media (max-width: 20em) {
    #body {background-color: purple;}
}
*/
/* MID-SIZE - Below 1,200px */
/* TABLET   - Below   768px */
/* MOBILE   - Below   480px */
/* MINI     - Below   360px */