.widget {
    display: inline-flex;
    flex-direction: column;
    gap: var(--space-m);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.widgetMain {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    gap: var(--space-md);
    width: 100%;
    height: 100%;
    padding: var(--space-md);
    border: 1px solid var(--color-borders);
    border-radius: var(--radius-md);
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: var(--space-sm) 0;
    border: 1px solid var(--color-type);
    border-radius: var(--radius-total);
}
.label span {
    margin-bottom: 0.1rem;
    font-family: var(--font-display);
    font-style: italic;
    font-size: var(--fs-md);
}

.skeletonBody{
    width: 100%;
    height: 100%;
    border-radius: var(--radius-sm);
    background-color: var(--color-area-muted);

    background: linear-gradient(
        90deg,
        var(--color-area-muted) 25%,
        var(--color-bg) 50%,
        var(--color-area-muted) 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
}
@keyframes shimmer {
  0%   { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}




@media (max-width: 78em) /* MID:    > 1,250px */ {
    .widget {
        --fs-huge: 13rem;
        --fs-2xl: 3rem;
        --space-2xl: 4.2rem;
        --space-lg: 2.2rem;
    }
}
@media (max-width: 31em) /* MOBILE: > 498px */   {
    .widget {
        --fs-2xl: 2.8rem;
        --space-2xl: 3.8rem;
        --space-sm: 0.8rem;
    }
}
@media (max-width: 20em) /* MINI:   > 320px */   {
    .widget {
        --fs-huge: 12rem;
        --space-2xl: 3rem;
        --space-lg: 2rem;
    }
}