.component{
    display: inline-flex;
    align-items: center;
    gap: var(--space-m);
}
.label, .dropdown{
    font-family: var(--font-primary);
    font-size: var(--fs-md);
    color: var(--color-type-muted);
}
.label{
    white-space: nowrap;
    font-weight: 500;
}
.dropdown{
    padding: var(--space-sm);

    background-color: var(--color-bg);
    border-color: var(--color-borders);
    border-radius: var(--radius-sm);

    font-weight: 400;
}

@media (max-width: 42em) /* --- :   > 498px */   {
    .component{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: var(--space-sm);
    }
    .dropdown{
        width: 100%;
    }
}