/* ---------- INDIVIDUAL ---------- */

/* GLOBAL */
.hourlyWx {
    display: inline-flex;
    flex-direction: column;
    gap: var(--space-m);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* Test Dimensions
    width: 750px;
    height: 320px;
    */
}
.widgetMain {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    
    width: 100%;
    height: 100%;

    padding: var(--space-md);

    border: 1px solid var(--color-borders);
    border-radius: var(--radius-md);
}
.hourlyLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: var(--space-sm) 0;
    border: 1px solid var(--color-type);
    border-radius: var(--radius-total);
}
.hourlyLabel span {
    margin-bottom: 0.1rem;
    font-family: var(--font-display);
    font-style: italic;
    font-size: var(--fs-md);
}


/* ITEM CARDS */
.itemCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
}
.type{
    margin: 0;

    font-family: var(--font-primary);
    font-size: var(--fs-sm);
    font-weight: 400;
    color: var(--color-type-muted);
}
.icon{
    width: 20px;
}



/* ---------- MEDIA QUERIES ---------- */

@media (max-width: 78em) /* MID:    > 1,250px */ {
    .itemCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-md) var(--space-md);
    }
    .widgetMain {
        padding: var(--space-xl);
        row-gap: 4rem;
    }
}
@media (max-width: 31em) /* MOBILE: > 498px */   {
    .hourlyWx {
        overflow-x: auto;
        height: 200px;
    }
    .widgetMain {
        overflow-x: auto;
        display: flex;
        gap: 5rem;
        padding: 0 var(--space-xl);
        
        width: 100%;
        height: 100%;
    }
    .type{
        white-space: nowrap;
    }
}
@media (max-width: 20em) /* MINI:   > 320px */   {
    .hourlyWx {
        --fs-sm: 1rem;
    }
    
}