.mapWX{
    grid-area: map;

    display: inline-flex;
    flex-direction: column;
    gap: var(--space-m);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* Test Dimensions
    width: 740px;
    height: 500px;
    */
}
.mapLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: var(--space-sm) 0;
    border: 1px solid var(--color-type);
    border-radius: var(--radius-total);
    color: var(--color-type);
}
.mapLabel span {
    margin-bottom: 0.1rem;
    font-family: var(--font-display);
    font-style: italic;
    font-size: var(--fs-md);
}
.widgetMain {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-md);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: var(--space-md);
    border: 1px solid var(--color-borders);
    border-radius: var(--radius-md);
}
.mapContainer{
    width: 100%;
    height: 100%;
    border-radius: var(--radius-sm);
}