.statItem{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
}

.icon{
    align-self: center;
    justify-self: center;
    margin-bottom: var(--space-m);
    color: var(--color-accent);
}

.value, .label{
    color: var(--color-type-muted);
    font-family: var(--font-primary);
    font-weight: 500;
}
.value{
    font-size: var(--fs-md);
}
.label{
    font-size: var(--fs-xs);
}