/* --------------------------- OVERALL --------------------------- */
#screen-todo{
    width: 100dvw;
    height: 100dvh; /* Remove if content in #main is longer than vh */
    display: flex;
    flex-direction: column;
    align-items: center;
}
body, #screen-todo, #todo-section{
    box-sizing: border-box;
}
body{
    overflow-x: hidden
}
/* ------------------------ DISPLAY SWAPS ------------------------ */
#empty{
    display: block; /*DS*/
    user-select: none;

    align-self: center;
    text-align: center;
    width: 100%;

    font-size: var(--fs-sm);
    font-weight: 300;
    color: var(--color-tonedown);
}



/* ------------------------------------------------------------- */
/* -------------------------- SECTIONS ------------------------- */
/* ------------------------------------------------------------- */

/* ------------------------ SECTION MAIN ----------------------- */
#todo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.2rem 0 0 0; /* To avoid going under the FIXED header */

    width: 100%;
    height: 100%;
    min-height: 0;
    box-sizing: border-box;
}
#todo-wrapper{
    touch-action: manipulation;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 3rem;

    height: 75%;
    width: 45dvw;
    max-width: 570px;
}
@media (max-width: 78em) /*MID:    > 1,250*/ {
    #todo-wrapper{
        width: 65dvw;
        max-width: 540px;
    }
}
@media (max-width: 48em) /*TABLET: > 768  */ {
    #todo-wrapper{
        gap: 2rem;
        height: 80%;
        width: 90dvw;
        max-width: 500px;
    }
}
@media (max-width: 31em) /*MOBILE: > 498  */ {
    #todo-wrapper{
        gap: 2rem;

        height: 85%;
        width: 90dvw;
        max-width: none;
    }
    #todo-section{
        padding: 4rem 0 0 0; /* To avoid going under the FIXED header */
    }
}
@media (max-width: 20em) /*MINI:   > 320  */ {
}
/* --------------------------- INPUT --------------------------- */
#input{
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    box-sizing: border-box;

    width: 100%;
    padding: 1.25rem 1.25rem 1.25rem 4rem;

    border-radius: 100px;
    border: 1px solid #AAAAAA;
}
#input-field{
    flex: 1;

    border: none;
    cursor: text;
    background-color: transparent;

    font-family: var(--font-display);
    font-size: var(--fs-md);
    font-style: italic;
    color: var(--color-tonedown);
}
#input-field:focus{
    outline: none;
    color: var(--color-dark);
}
#input button{
    position: relative;

    width: 36px;
    height: 36px;

    cursor: pointer;

    border: 1px solid var(--color-tonedown);
    border-radius: 50%;
    background-color: var(--color-light);
}
#input button:hover{
    border-color: var(--color-accent);
}
#input button:active{
    background-color: #F0E7DD;
}
#input button::before, #input button::after {
    content: '';
    position: absolute;
    top: 49%;
    left: 51%;
    width: 40%;
    height: 1px;
    background-color: var(--color-accent);
}
#input button::before {
    transform: translateX(-50%);
}
#input button::after {
    transform: translateX(-50%) rotate(90deg);
}
@media (max-width: 78em) /*MID:    > 1,250*/ {
}
@media (max-width: 48em) /*TABLET: > 768  */ {
    #input{
        gap: 3rem;
        padding: 1.25rem 1.5rem 1.25rem 3rem;
    }
    #input input{
        font-size: 1.8rem;
    }
}
@media (max-width: 31em) /*MOBILE: > 498  */ {
    #input{
        gap: 0;
        padding: 1.25rem 1.5rem 1.25rem 2.5rem;
    }
    #input input{
        flex: 0;
        width: 180px;
    }
}
@media (max-width: 20em) /*MINI:   > 320  */ {
    #input{
        padding: 1.25rem 1.5rem 1.25rem 2.5rem;
    }
    #input input{
        flex: 0;
        width: 150px;
        font-size: 1.6rem;
    }
}
/* --------------------------- TASKS --------------------------- */
/* SECTION */
#tasks{
    overflow-y: auto;

    display: flex;
    align-items: normal;
    justify-content: center;
    flex: 1;

    box-sizing: border-box;

    width: 100%;

    border-radius: 24px;
    border: 1px solid #AAAAAA;
}
/* SCROLLBAR */
#tasks::-webkit-scrollbar {
    width: 12px;
}
#tasks::-webkit-scrollbar-track {
    background: transparent;
    margin: 30px 0;
}
#tasks::-webkit-scrollbar-button {
    display: none;
}
#tasks::-webkit-scrollbar-thumb {
    background-color: #D9D4D0;
    border-radius: 100px;
    background-clip: padding-box;
    border-right: 10px solid transparent;
}
/* UL */
#list-container{
    display: none; /*DS*/
    flex-direction: column;
    box-sizing: border-box;
    gap: 3rem;

    width: 100%;
    margin: 0;
    padding: 3.5rem 4rem 3.5rem 4rem;
}
/* LI */
#tasks li{
    user-select: none;
    cursor: pointer;

    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 2rem;

    list-style: none;
    font-size: 1.6rem;
}
#tasks li p{
    cursor: pointer;
}
.li-checked{
    color: var(--color-tonedown);
    text-decoration: line-through;
}
/* LIST RADIO */
.li-radio{
    width: 16px;
    height: 16px;
    
    border-radius: 50%;
    border: 1px solid var(--color-accent);
    background-color: transparent;

    cursor: pointer;
}
.li-radio:hover{
    background-image: url(./media/hover-fill.png);
    background-position: center;
    background-size: cover;
}
.li-radio-checked{
    border-color: var(--color-tonedown);

    background-image: url(./media/checked-fill.png);
    background-position: center;
    background-size: cover;
}
.li-radio-checked:hover{
    border-color: var(--color-tonedown);

    background-image: url(./media/checked-fill.png);
    background-position: center;
    background-size: cover;
}
/* LIST REMOVE */
.li-remove {
    width: 15px;
    height: 15px;
    margin-left: 4rem;
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
}
.li-remove::before, .li-remove::after {
    content: '';
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-tonedown);
}
.li-remove::before {
    transform: translateY(-50%) rotate(45deg);
}
.li-remove::after {
    transform: translateY(-50%) rotate(-45deg);
}
@media (max-width: 78em) /*MID:    > 1,250*/ {
    .li-remove {
        margin-left: 1rem;
    }
}
@media (max-width: 48em) /*TABLET: > 768  */ {
    /* UL */
    #tasks ul{
        gap: 3.5rem;

        padding: 3rem 2.5rem;
    }
    /* LI */
    #tasks li{
        column-gap: 2.5rem;

        font-size: 1.5rem;
    }
}
@media (max-width: 31em) /*MOBILE: > 498  */ {
    #tasks ul{
        gap: 2rem;
    }
    #tasks li{
        column-gap: 1.5rem;
    }
    .li-remove {
        margin-left: 1rem;
    }
}
@media (max-width: 20em) /*MINI:   > 320  */ {
    #tasks ul{
        gap: 5rem;
    }
    #tasks li{
        grid-template-columns: auto 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .li-remove {
        margin-left: 0;
    }
}






@media (max-width: 78em) /*MID:    > 1,250*/ {
}
@media (max-width: 48em) /*TABLET: > 768  */ {
}
@media (max-width: 31em) /*MOBILE: > 498  */ {
}
@media (max-width: 20em) /*MINI:   > 320  */ {
}